@using ConceptosMVC.Models
@model Empleados

<div>
    <ul>
        <li><label>@Model.Apellido</label></li>
        <li><label>@Model.Oficio</label></li>
        <li>@Model.Oficio</li>
    </ul>
</div>
<hr />