
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>
        @Html.ActionLink("Create","CrearDepartamento","Departamento")
    </li>
    <li>
        @Html.ActionLink("Update","UpdateDepartamento","Departamento")
    </li>
</ul>

