
@{
    ViewBag.Title = "Index";
}

<h2>Índice</h2>

<ul>
    <li>
        @Html.ActionLink("Sumar Números","SumarNumeros","Practicas")
    </li>
    <li>
        @Html.ActionLink("Número Doble", "NumeroDoble", "Practicas")
    </li>
    <li>
        @Html.ActionLink("Tabla De Multiplicar", "TablaMultiplicar", "Practicas")
    </li>
    <li></li>
    <li></li>
    <li></li>
</ul>

