@model PracticasMVC.Models.Numero
@{
    ViewBag.Title = "TablaDeMultiplicarConObjetos";
}

<style>
    td {
        border: solid 1px;
        padding: 10px;
    }

    th {
        border: solid 1px;
    }
</style>


<h2>TablaDeMultiplicarConObjetos</h2>

<form method="post">
    <div class="row">
        <div class="col-md-5">
            <label>Numero: </label>
            <input type="number" min="1" name="num" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button type="submit" class="form-control">Tabla</button>
        </div>
    </div>
</form>
<br />
<br />
@if (@Model != null)
{

<table>
    <tr>
        <th colspan="2"> Tabla de Multiplicar</th>
    </tr>

    @for (int i = 1; i <= 10; i++)
    {
        <tr>
            <td>@i x @Model.numero</td>
            <td>@Model.multiplicaciones[i-1]</td>
        </tr>
    }

</table>
}