@using ConceptosMVC.Models
@model List<Empleados>
@{
    ViewBag.Title = "Index";
}

<h2>Almacenar Session Salarios</h2>
@Html.ActionLink("Mostrar suma en Session","MostarSalarios","Empleados")
<ul>
    @foreach (Empleados emp in Model)
    {
        <li>
            @Html.ActionLink(emp.Apellido, "AlmacenarSalarios", "Empleados", new { salario = emp.Salario }, null)
        </li>
    }
</ul>

