
@{
    ViewBag.Title = "MostrarSalarios";
}

<h2>MostrarSalarios</h2>
@Html.ActionLink("Mostrar Almacenar Salarios", "AlmacenarSalarios", "Empleados")
<h1>Total ViewBag: @ViewBag.Total</h1>

<h1> Total Session: @Session["SALARIO"]</h1>
