
@{
    ViewBag.Title = "Index";
}

<h2>Menú de informacion</h2>

<ul>
    <li>
    @Html.ActionLink("Ir a controlador vista","ControladorVista","Informacion")
    </li>
    <li>
        @Html.ActionLink("Ir a vista controlador Get", "VistaControladorGet", "Informacion")
    </li>
</ul>
